@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');

// Main ==========================================================================================

* {
  box-sizing: border-box;
}

button:focus{
  outline: none;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  width: 100%; 
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
}

body {
overflow-anchor: auto;
  #root {
    width: 100%;
  }
}

.section {
  background-color: black;
}


.hero-body{
  height: 100%;
  padding: 0;
}


.about-body{
  background-color: whitesmoke;
}

.container{
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}



.nameTitle{
  color: gold;
  font-size: 3.5rem;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Monoton', cursive;

}






.columns{
  height: inherit;
}

.column {
  padding: 0;
}

.article{
  padding-bottom: 2vh;
  height: 100vh;
}


li {
  font-family: 'Baloo Thambi 2', cursive;
  list-style-type: none;
}


button{
  border: none;
  background: none; 
  background-color: none;
  font-size: 2rem;
  color: gold;
  margin-top: 20vh;
  margin-left: 2vw;
}

.hero{
  overflow-y: hidden;
  padding: 0;
}


.bold{
  font-weight: bolder;
}


//Nav =========================================================================================================
.navbar{
  background-color: gold;
  font-weight: bolder;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 2rem;
}

#nav-styling {
  background-color: gold;
  display: flex;
  justify-content: center;
  
  a:hover {
    color: black;
    background-color: transparent;
    border-bottom: 3px solid black;
  }
  a:focus {
    background-color: gold;
  }
}

a.navbar-item{
  margin: 0 3vw;
}


a.navbar-item.link:focus{
color: white;
  }


.is-family-secondary {
  color: gold;
  font-family: 'Monoton', cursive;

}

.heading{
  background: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}




//ABOUT ====================================================================================================
#about{
  background-color: rgb(254, 254, 254);
}

#about-title{
  font-size: 3rem;
  text-shadow: none;
  text-align: end;
}

#about-heading{
  color: black;
  text-decoration: underline gold;
  margin-bottom: 2vh;
  -webkit-animation: fade-in-bottom 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
 
}

.michael-image{
  display: flex;
  flex-direction: row-reverse;
}

#michael-image{
  width: 60%;
  opacity: 0.8;
  border-radius: 5%;
  box-shadow: 0 0 8px 8px rgb(254, 254, 254) inset;
  -webkit-animation: fade-in-bottom 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.about-text{
  color: black;
}

.about-tile{
  background-color: rgb(254, 254, 254);
  object-fit: cover;
}


//CONTACT =================================================================================================

.contact-list{
  width: 100%;

}

.contact-methods{
  color: black;
  font-size: 3.5rem;
  text-align: center;
  text-shadow: -1px 0 gold, 0 1px gold, 1px 0 gold, 0 -1px gold;
  font-family: 'Baloo Thambi 2', cursive;
  // text-decoration: overline;
  padding: 4vh;
}

  .contact-image{
    margin-left: 1vw;
    font-size: 3rem;
  }

  .contact-overline{
     text-decoration: overline;

  }

//Projects =================================================================================================



#projects-title{
  font-size: 3rem;
  text-align: end;
}

.level{
  margin: 1vh;
}


.title{
  color: gold;
  font-family: 'Monoton', cursive;
  font-size: 3.5rem;
  font-weight: normal;
}


.project-tile{
  background-color: black;
  object-fit: cover;
}



.left-list{
  text-align: left;
}

.selected {
  display: flex;
  -webkit-animation: fade-in 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.text-flicker-in-glow {
	-webkit-animation: text-flicker-in-glow 4s linear both;
	        animation: text-flicker-in-glow 4s linear both;
}

.notification{
  padding: 0.75vw;
}


.title.project-title{
  color: gold;
  font-size: 3.5rem;
}


p{
  font-family: 'Baloo Thambi 2', cursive;
}

article.tile.is-child.notification{
  padding-bottom: 3vh;
}


.slider-container{
  display: flex;
  flex-shrink: 1;
}


.mobile-image {
padding-top: 3vh; 
  }

  .home-desktop{
    margin-top: 3vh;
  }




//TripBit=======================================================================================

.tripbit-sub{
  color: rgb(97, 67, 0);
  border-top: 1px solid rgb(97, 67, 0);
  font-family: 'Baloo Thambi 2', cursive;
}


#tripbit-title{
  font-family: 'Cabin Sketch', sans-serif;
  font-family: 'Cabin Sketch', sans-serif;
  background-image: linear-gradient(to top right, rgb(97, 67, 0), #dfa62b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 0;
}


#tripbit-desktop{
  border: 3px solid  rgb(97, 67, 0) ;
}

img.bottom-row{
  height: 30vh;
}

#Tripbit-links{
  color: #dfa62b;
  text-decoration: overline;
}

#Tripbit-logo{
  color: #dfa62b;
}



//Kitchen===============================================================================

#kitchen-title{
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
  font-size: 3rem;
  margin-bottom: 0;
}

.kitchen-sub{
  color: whitesmoke;
 border-top: 1px solid whitesmoke;
}

#kitchen-links{
  font-family: 'Courier New', Courier, monospace;
  text-decoration: overline;
}



//Nottify=================================================================================


#nottify-title{
  font-family: 'Megrim', cursive;
  color: whitesmoke;
  margin-bottom: 0;
}

.nottify-sub{
  border-top: 1px solid whitesmoke;
}

#nottify-links{
  font-family: 'Megrim', cursive;
  font-size: 1.5rem;
  text-decoration: overline;
}




//SpaceWars==================================================================================


#spacewars-title{
  font-family: 'VT323', monospace;
  color: gold;
  animation: blinker 1s linear infinite;
  margin-bottom: 0;
}


.space-sub{
  font-size: 1.5rem;
  border-top: 1px solid gold;
  font-family: 'VT323', monospace;
  color: gold;


}

#space-links{
  font-size: 1.5rem;
  font-family: 'VT323', monospace;
  color: gold;
  text-decoration: overline;

}

@keyframes blinker {
  20% {
    opacity: 0;
  }
}

// .space-image{
// width: 100%;
// height: 110%;
// }

//Monkey Tennis====================================


.monkey-desktop{
  margin-left: 3vw;
  width: 80%;
  padding-top: 3vh;
  #monkey-desktop {
    margin-top: 1vh;
    border: 3px solid gold;
    
  }
}

#monkeytennis-title{
  font-family: 'Happy Monkey', cursive;
  font-size: 2.5rem;
  margin-bottom: 0;
}


.monkey-sub{
  border-top: 1px solid gold;
  font-family: 'Happy Monkey', cursive;
  color: gold;


}

#monkey-links{
  font-family: 'Happy Monkey', cursive;
  color: gold;
  text-decoration: overline;

}


//Calculator ==========================================

#calculator-title{
  font-family: 'Orbitron', sans-serif;
  color: aquamarine;
  font-size: 2rem;
  margin-bottom: 0;
}

.calc-sub{
  border-top: 1px solid aquamarine;
  font-family: 'Orbitron', sans-serif;
  color: coral;


}

#calc-links{
  font-family: 'Orbitron', sans-serif;
  color: coral;
  text-decoration: overline;

}



#calculator-image{
  padding-top: 3vh;
  width: 50%;
}

// .calculator-container{
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
// }
//Simpsons================================================


#simpsons-title{
  font-size: 1.5rem;
  font-family: 'Rock Salt', cursive;
}

#simpsons-pic{
  
  border: 3px solid gold;
}


.simpsons-sub{
  border-top: 1px solid white


}

#simpsons-links{
  font-family: 'Rock Salt', cursive;
  color: gold;
  text-decoration: underline;
  margin-bottom: 0.5rem;

}


/* ----------------------------------------------
 * Generated by Animista on 2020-3-10 15:11:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-flicker-in-glow
 * ----------------------------------------
 */
 @-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}



//FADE IN ===================


/* ----------------------------------------------
 * Generated by Animista on 2020-4-7 11:38:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}






@media only screen and (max-width: 770px) {


.project-title{
  margin-top: 5vh;
}

article.tile.is-child.is-3.notification{
justify-content: center;
}

ul li{
  display: inline;
}

.left-list {
  display: block;
}

.mobile-image {
height: 40%;
 width: 40%; 
 padding: 0;
 display: flex;
 flex-direction: column;
 align-content: center;
}

.hidden-mobile {
  display: none;
}

button{
  font-size: 1.5rem;
}


}
